/* ==== 
 --------- (5.12) authentication styles start ---------
 ==== */

.authentication {
  overflow: hidden;
}

.authentication__form {
  .input-single {
    background-color: var(--quaternary-color);
  }

  .input-group-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 30px;
    flex-direction: column;

    .input-wrapper {
      flex-grow: 1;
      width: 100%;
    }
  }

  .forget-pass {
    a {
      color: var(--primary-color);
      font-weight: 500;
      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  .create-msg {
    a {
      color: var(--secondary-color);
      font-weight: 500;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.authentication__thumb {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin: 20px;
  min-width: 760px;
  .circle-img {
    position: relative;
    z-index: -3;
    img {
      min-width: 760px;
    }
  }
  .thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    img {
      max-width: 800px;
      min-width: 800px;
    }
  }

  .number-img {
    position: absolute;
    inset: -20px;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: rotate 120s linear infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==== 
 --------- (5.12) authentication styles end ---------
 ==== */
