/* ==== 
 --------- (5.14) contact styles start ---------
 ==== */

.contact__content-single {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--quaternary-color);
  border: 1px solid var(--septenary-color);
  border-radius: 12px;
  padding: 32px 20px;
  transition: var(--transition);
  &:hover {
    a {
      color: var(--secondary-color);
    }
  }
  .icon {
    @include box(60px);
    background-color: var(--primary-color);
    transition: var(--transition);
    i {
      font-size: 30px;
      color: var(--octonary-color);
      transition: var(--transition);
    }
  }

  .content {
    max-width: 240px;
  }

  a {
    text-transform: lowercase;
  }

  h6,
  a {
    transition: var(--transition);
  }
}

.contact__form {
  padding: 40px 20px;
  background-color: var(--quaternary-color);
  border-radius: 12px;
  border: 1px solid var(--septenary-color);

  .divider {
    border-style: dashed;
    border-color: var(--primary-color);
  }
}

/* ==== 
 --------- (5.14) contact styles end ---------
 ==== */
