/* ==== 
 --------- (5.01) game styles start ---------
 ==== */

.cr-platform {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .left-thumb {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .right-thumb {
    position: absolute;
    top: 300px;
    right: 250px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .vr-img {
    position: absolute;
    bottom: 0px;
    right: 140px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }
}

.king-card {
  position: relative;
  height: 100%;

  .thumb {
    height: 100%;
  }
  img {
    width: 100%;
    min-height: 500px;
    border-radius: 12px;
    height: 100%;
  }

  .content-wrapper {
    position: absolute;
    top: 40px;
    inset-inline: 0px;
  }
}

.review-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  .review-left {
    min-width: 200px;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    background-color: var(--secondary-color);
    .review {
      justify-content: center;
    }

    i {
      color: #222e48;
      font-size: 18px;
    }

    h3,
    p,
    span {
      color: var(--octonary-color);
    }
  }
  .review-right {
    flex-grow: 1;
    width: 100%;
  }
}

.pg-single {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  &:nth-last-of-type(1) {
    margin-bottom: 0px;
  }

  .pg-left {
    display: flex;
    align-items: center;
    gap: 6px;
    i {
      color: var(--secondary-color);
      font-size: 20px;
    }
  }

  .progress-bar-wrapper {
    flex-grow: 1;
  }

  .progress-bar {
    flex-grow: 1;
    width: 100%;
    height: 12px;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    border-radius: 12px;
  }

  .progress-bar-percent {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: inherit;
  }
}

.platform {
  display: flex;
  align-items: center;
  gap: 8px;
  li {
    span {
      width: 5px;
      height: 5px;
      background-color: var(--white);
      border-radius: 50%;
      margin-bottom: 3px;
    }
  }
}

.review-game {
  gap: 16px !important;
  i {
    font-size: 30px !important;
    cursor: pointer;
  }
}

// game
.game {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .chart {
    position: absolute;
    bottom: 80px;
    right: 250px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .btc {
    position: absolute;
    top: 140px;
    right: 260px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .rocket {
    position: absolute;
    top: 260px;
    left: 140px;
    z-index: -1;
    transform: rotateY(180deg);
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }
  .result__single {
    .thumb {
      a,
      img {
        border-radius: 8px;
      }
    }

    ul {
      li {
        display: block;
        border: 0px;
        background-color: transparent;
        width: auto;
        height: auto;
      }
    }

    .contest-number {
      border-radius: 0px !important;
      position: relative;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0% 100%, 0% 0%);
    }
  }
}

.game__single-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
  .divide {
    height: 60px;
    border-right: 1px dashed var(--secondary-color);
  }

  .rate-left,
  .rate-right {
    flex-grow: 1;
    padding: 8px;
    background-color: var(--quaternary-color);
    border: 1px solid var(--septenary-color);
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .review {
    margin-top: 8px;
    gap: 3px;
    i {
      font-size: 12px;
    }
  }

  .thumb-ic {
    @include box(44px);
    background-color: var(--secondary-color);
    p,
    i {
      color: var(--octonary-color);
    }

    i {
      font-size: 20px;
      margin: 0px;
    }
  }
}

// game two
.game-two {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .chart {
    position: absolute;
    bottom: 80px;
    right: 250px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .btc {
    position: absolute;
    top: 140px;
    right: 260px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .rocket {
    position: absolute;
    top: 260px;
    left: 140px;
    z-index: -1;
    transform: rotateY(180deg);
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .left-thumb {
    position: absolute;
    bottom: 120px;
    left: 190px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }
}

.game-two-alternate {
  .lt-type__single {
    .thumb {
      img {
        @include box(100px);
        margin-inline: auto;
      }
    }
  }
}

// winning table
.ch-list {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .section__header {
    max-width: 100%;
    p {
      max-width: 700px;
      margin-inline: auto;
    }
  }

  .chart {
    position: absolute;
    bottom: 80px;
    right: 300px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .btc {
    position: absolute;
    bottom: 140px;
    left: 100px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .rocket {
    position: absolute;
    top: 360px;
    right: 140px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }

  .left-thumb {
    position: absolute;
    top: 160px;
    left: 240px;
    z-index: -1;
    img {
      max-width: 30vw;
      min-width: 100px;
      animation: moveLeftRight 6s linear infinite;
    }
  }
}

.ch-list__btns {
  text-align: center;
  ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.winning-table {
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 992px;
  }

  tr {
    width: 100%;
    background-color: var(--quaternary-color);
    transition: var(--transition);
    border: 1px solid var(--septenary-color);
    &:hover {
      background: var(--template-bg);
    }
  }

  th {
    background-color: var(--quaternary-color);
  }

  .th-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    i {
      cursor: pointer;
    }
  }

  th,
  td {
    width: 15%;
    padding: 16px 24px;
    &:nth-of-type(1) {
      width: 20%;
    }
  }

  .author__info {
    flex-direction: row !important;
    img {
      @include box(36px);
    }
  }
}

.ch-list-alternate {
  .winning-table {
    table {
      min-width: 586px;
    }

    tr {
      background: var(--tertiary-color);
      &:hover {
        background-color: var(--quaternary-color);
      }
    }
  }

  .lottery-intro {
    a {
      color: var(--primary-color);
    }
  }

  .win-t-wrapper {
    padding: 24px 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #2a2d33;
  }
}

/* ==== 
 --------- (5.01) game styles end ---------
 ==== */
