/* ==== 
 --------- (3.05) custom cursor styles start ---------
 ==== */

.a-cursor {
  .cursor-outer {
    margin-inline-start: -20px;
    margin-block-start: -20px;
    width: 40px;
    height: 40px;
    border: 1px solid #c9f31d;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 1;
    transition: all 0.5s ease-out 0s;
    mix-blend-mode: difference;

    &.cursor-hover {
      margin-inline-start: -6px;
      margin-block-start: -6px;
      width: 12px;
      height: 12px;
      background-color: var(--primary-color);
      mix-blend-mode: difference;
      opacity: 1;
    }

    &.cursor-big {
      width: 140px;
      height: 140px;
      margin-inline-start: -70px;
      margin-block-start: -70px;
      background-color: var(--template-color);
      mix-blend-mode: difference;
    }

    &.cursor-big.drag-cursor {
      opacity: 1;
      cursor: auto !important;
    }

    &.cursor-big.view-cursor {
      opacity: 1;
    }

    &.cursor-hover.drag-cursor {
      opacity: 1;
    }

    &.cursor-hover.view-cursor {
      opacity: 1;
    }

    &.drag-cursor {
      opacity: 0;
    }

    &.view-cursor {
      opacity: 0;
    }

    &.not-cursor-outer {
      opacity: 0;
    }
  }

  .mouseCursor {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    pointer-events: none;
    border-radius: 50%;
    transform: translateZ(0);
    visibility: hidden;
    text-align: center;
  }

  .cursor-inner {
    margin-inline-start: -5px;
    margin-block-start: -5px;
    width: 10px;
    height: 10px;
    z-index: 10000001;
    background-color: #c9f31d;
    opacity: 1;
    transition: all 0.8s ease-out 0s;
    mix-blend-mode: difference;

    &.cursor-big {
      opacity: 0;
    }

    &.cursor-hover {
      opacity: 0;
    }

    span {
      @include box(120px);
      flex-direction: column;
      gap: 4px;
      margin-inline-start: -60px;
      margin-block-start: -60px;
      background-color: #c9f31d;
      color: var(--secondary-color);
      line-height: 1;
      opacity: 0;
      transform: scale(0);
      text-transform: uppercase;
      transition: all 0.4s ease-out 0s;
      letter-spacing: 1px;
      mix-blend-mode: normal !important;
      text-align: center;

      i {
        font-size: 24px;
        margin-block-end: -8px;
      }
    }

    &.view-cursor {
      margin-block-start: -60px;
    }

    &.not-cursor-outer {
      opacity: 0;
    }
  }

  .draggable-cursor {
    cursor: grab !important;
  }

  .viewable-cursor {
    cursor: pointer !important;
  }

  .drag-cursor {
    .drag {
      opacity: 1;
      transform: scale(1);
    }
  }

  .view-cursor {
    .view {
      opacity: 1;
      transform: scale(1);
    }
  }

  .cursor-none .cursor-inner,
  .cursor-none .cursor-outer {
    opacity: 0;
  }
}

/* ==== 
 --------- (3.05) custom cursor styles end ---------
 ==== */
