/* ==== 
 --------- (3.06) widgets styles start ---------
 ==== */

// social
.social {
  display: flex;
  align-items: center;
  gap: 12px;
  a {
    font-size: 16px;
    color: var(--primary-color);
    @include box(40px);
    border: 1px solid var(--primary-color);
    &:hover {
      background-color: var(--primary-color);
      color: var(--octonary-color);
    }
  }

  i {
    margin: 0px;
  }
}

// search popup styles start
.search-popup {
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  margin-top: -540px;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 1500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);

  form {
    position: absolute;
    max-width: 700px;
    top: 50%;
    inset-inline-start: 15px;
    inset-inline-end: 15px;
    margin: -35px auto 0;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #111111;
    transition: all 300ms ease;
  }

  .search-popup__group {
    position: relative;
    margin: 0px;
    overflow: hidden;

    input {
      position: relative;
      display: block;
      font-size: 18px;
      line-height: 50px;
      color: var(--white);
      height: 70px;
      width: 100%;
      padding: 10px 30px;
      background-color: #2d2d34;
      transition: all 500ms ease;
      font-weight: 400;
      text-transform: capitalize;
      padding-inline-end: 80px;
      border-radius: 5px;
      border: 1px solid var(--template-bg);
      &:focus {
        border: 1px solid var(--primary-color);
      }
    }

    button {
      color: var(--primary-color);
      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  button {
    position: absolute;
    inset-inline-end: 30px;
    top: 0px;
    height: 70px;
    line-height: 70px;
    background: transparent;
    text-align: center;
    font-size: 24px;
    color: var(--white);
    padding: 0;
    cursor: pointer;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-search {
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    top: 75%;
    margin: 0 auto;
    margin-top: -200px;
    border-radius: 50%;
    text-align: center;
    background-color: #2d2d34;
    width: 70px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid var(--primary-color);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    color: var(--primary-color);
    span {
      position: relative;
      display: block;
      height: 70px;
      width: 70px;
      font-size: 20px;
      line-height: 70px;
      color: var(--black);
    }
  }
}

.sidenav-bar-visible .search-popup {
  width: 80%;
}

.search-active .search-popup {
  transform: translateY(0%);
  margin-top: 0;
  form {
    transform: scaleX(1);
    transition-delay: 1200ms;
  }
  .close-search {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transition-delay: 1500ms;
  }
}

// breadcrumb
.breadcrumb {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  .breadcrumb-item,
  a {
    color: #ffffff;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
  }

  a {
    &:hover {
      color: var(--secondary-color);
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0px;
    color: var(--white);
    &::before {
      padding-inline-end: 12px;
      content: "\ea61";
      font-family: "tabler-icons";
      font-weight: 700;
      color: #ffffff;
      margin-bottom: -2px;
    }
  }

  .active {
    color: var(--secondary-color) !important;
  }
}

// section header
.section__header,
.section__content {
  max-width: 700px;
  margin-inline: auto;
  span {
    margin-block: 4px;
  }

  strong {
    background-color: var(--secondary-color);
    color: #071431;
    padding: 6px 12px;
    margin-inline-end: 4px;
  }

  i {
    font-size: 24px;
    color: var(--quaternary-color);
  }

  .icon-thumb {
    display: flex;
    align-items: center;
    gap: 16px;

    .icon-thumb-single {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 3px;
      line-height: 0px;
      padding-bottom: 4px;
      &:nth-of-type(2) {
        align-items: flex-start;
        justify-content: flex-end;
      }
    }

    span {
      width: 70px;
      height: 1px;
      background-color: var(--quaternary-color);
      display: inline-block;
      line-height: 0px;
      &:nth-of-type(2) {
        width: 56px;
      }
    }
  }

  h2 {
    span {
      color: var(--primary-color);
      margin-block: 0px;
    }
  }
}

.section__content {
  max-width: 100%;
}

// pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  button,
  a {
    @include box(40px);
    border: 1px solid var(--septenary-color);
    background-color: var(--quaternary-color);
    color: var(--white);
    transition: var(--transition);
    font-weight: 700;
    font-size: 16px;

    i {
      font-size: 20px;
    }

    &:hover {
      border-color: var(--primary-color);
      background-color: var(--primary-color);
      color: var(--octonary-color);
    }
  }

  .active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--octonary-color);
  }

  button {
    background-color: var(--quaternary-color);
    color: var(--white);
    &:hover {
      background-color: var(--primary-color);
      color: var(--octonary-color);
    }
  }
}

// slider navigation
.slider-navigation {
  display: flex;
  align-items: center;
  gap: 16px;

  .slider-btn {
    @include box(50px);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 18px;
    border: 1px solid var(--primary-color);
    &:hover {
      background-color: var(--primary-color);
      color: var(--octonary-color);
    }
  }
}

// slider pagination
.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #6affb320;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    width: 48px;
    height: 12px;
    background-color: var(--primary-color);
    border-radius: 12px;
  }
}

// blog sidebar widget
.blog__sidebar-widget {
  padding: 40px 20px;
  background-color: var(--quaternary-color);
  border: 1px solid var(--septenary-color);
  border-radius: 12px;

  div {
    line-height: 0;
  }

  .divider {
    border-style: dashed;
    border-color: var(--septenary-color);
  }

  form {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-inline: 24px;
    border: 1px solid var(--septenary-color);
    border-radius: 30px;
    input {
      padding-block: 16px;
      background-color: transparent;
      width: 100%;
    }

    button {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .single-post {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    row-gap: 12px;
    max-width: 400px;
  }

  .thumb {
    img {
      width: 100px;
      height: 100px;
      min-width: 100px;
      border-radius: 8px;
    }
  }

  .content {
    a {
      font-weight: 500;
      font-size: 18px;
      &:hover {
        color: var(--secondary-color);
      }
    }

    p {
      &:nth-last-of-type(1) {
        a {
          color: var(--primary-color);
          &:hover {
            color: var(--secondary-color);
          }
        }
        i {
          font-size: 24px;
          margin-bottom: -4px;
        }
      }
    }
  }
}

// game sidebar widget
.game-details__widget {
  form {
    padding: 0px;
    border: 0px;
    flex-direction: column;
  }

  .btn--primary {
    width: 100%;
    justify-content: center;
    &:hover {
      color: var(--octonary-color);
    }
  }

  .platform-meta {
    p {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
        gap: 6px;
      }

      i {
        font-size: 18px;
        color: var(--secondary-color);
      }
    }
  }

  .platform__footer {
    p {
      a {
        font-weight: 600;
        color: var(--secondary-color);
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .action-group {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    a {
      @include box(50px);
      border: 1px solid var(--septenary-color);
      color: var(--secondary-color);
      font-size: 24px;
      i {
        margin: 0px;
      }
      &:hover {
        background-color: var(--secondary-color);
        color: var(--octonary-color);
        border-color: var(--secondary-color);
      }
    }
  }

  .input-single {
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px !important;
    padding-inline: 24px;
  }

  .nice-select {
    padding-block: 16px;
    padding-left: 24px;
    padding-right: 44px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 30px !important;
    &::after {
      width: 8px;
      height: 8px;
      margin-top: -6px;
      right: 24px;
    }

    .current,
    li {
      font-size: 16px;
      font-weight: 500;
      transition: var(--transition);
    }

    .list {
      width: 100%;
      background-color: #2d2d34;
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
      &:hover {
        .option.selected.focus {
          color: var(--white);
        }
      }
    }

    .option {
      padding-inline: 18px;
      &:hover {
        background-color: var(--primary-color);
        color: var(--octonary-color);
      }
    }

    .option.selected.focus {
      background-color: var(--primary-color);
      color: var(--octonary-color);
      &:hover {
        color: var(--octonary-color) !important;
      }
    }
  }
}

// privacy sidebar widget
.privacy__sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  a {
    padding: 12px 20px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--septenary-color);
    border-radius: 30px;
    width: 100%;
    font-size: 18px;
    gap: 12px;
    &:hover {
      color: var(--octonary-color);
      background-color: var(--primary-color);
    }
  }

  i {
    font-size: 24px;
  }

  .active {
    color: var(--octonary-color);
    background-color: var(--primary-color);
  }
}

// footer widget
.footer__widget-content {
  p {
    max-width: 280px;
  }

  .content {
    p {
      max-width: 200px;
    }
  }

  li {
    margin-bottom: 10px;
    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
    a {
      position: relative;
      padding-inline-start: 0px;
      letter-spacing: 0.8px;
      font-weight: 500;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        inset-inline-start: 0px;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
      }
      &:hover {
        padding-inline-start: 20px;
        color: var(--primary-color);
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.footer__widget-group {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 300px;

  .icon {
    @include box(48px);
    border: 1px solid var(--primary-color);
    i {
      font-size: 24px;
      color: var(--primary-color);
    }
  }

  a {
    text-transform: lowercase;
    &:hover {
      color: var(--primary-color);
    }
  }
}
/* ==== 
 --------- (3.06) widgets styles end ---------
 ==== */
