/* ==== 
 --------- (4.01) header styles start ---------
 ==== */

.header {
  background-color: transparent;
  padding-block: 22px;
  position: fixed;
  top: 0px;
  inset-inline: 0px;
  width: 100%;
  z-index: 9;
  border-block-end: 1px solid var(--septenary-color);

  .container {
    max-width: 1884px;
  }

  div {
    line-height: 0px;
  }

  .navbar__intro {
    display: flex;
    align-items: center;
    gap: 40px;
    row-gap: 16px;
    flex-wrap: wrap;

    button {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 16px 32px;
      background-color: var(--quaternary-color);
      border: 1px solid var(--septenary-color);
      font-weight: 700;
      border-radius: 40px;

      .ti-layout-grid {
        font-size: 24px;
      }

      .ti-chevron-down {
        font-size: 18px;
        margin-bottom: -2px;
        transform: rotate(0deg);
        transition: var(--transition);
      }
      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);

        .ti-chevron-down {
          transform: rotate(180deg);
        }
      }
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      inset-inline-start: 0px;
      min-width: 230px;
      max-width: 260px;
      background-color: #2d2d34;
      opacity: 0;
      visibility: hidden;
      transform: translateY(30px);
      pointer-events: none;
      transition: var(--transition);
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
      padding: 20px 0px;
      border-radius: 5px;
      z-index: 9;
      li {
        &:nth-last-of-type(1) {
          > a {
            border-bottom: 0px;
          }
        }
      }

      a {
        width: 100%;
        display: flex;
        padding: 16px 32px;
        color: var(--white);
        position: relative;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
        text-transform: capitalize;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          inset-inline-start: 20px;
          height: 1px;
          margin-top: 0px;
          width: 0px;
          transition: var(--transition);
          background-color: var(--primary-color);
        }
        &:hover {
          color: var(--primary-color);
          padding-inline-start: 40px;
          &::before {
            opacity: 1;
            transform: translateY(-50%) scaleX(1);
            width: 10px;
          }
        }
      }
    }
  }

  .navbar__intro-games {
    position: relative;
    display: none;
    &:hover {
      .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        pointer-events: all;
      }

      button {
        color: var(--primary-color);
        border-color: var(--primary-color);

        .ti-chevron-down {
          transform: rotate(180deg);
        }
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .navbar-logo {
    img {
      max-width: 110px;
    }
  }

  .navbar__menu {
    flex-grow: 1;
    margin-inline-start: -15px;
  }

  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__item {
    a {
      font-weight: 500;
      text-transform: capitalize;
      padding: 42px 10px 41px;
      width: 100%;
      line-height: 1;
      color: var(--white);
      letter-spacing: 0.5px;

      &:hover {
        color: var(--primary-color);
      }
    }

    .dropdown-label-alter {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        inset-inline-start: 50%;
        border: 10px solid transparent;
        border-bottom-color: var(--primary-color);
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
    }

    &:hover {
      .dropdown-label-alter {
        &::before {
          opacity: 1;
          transform: translateX(-50%) translateY(0%);
        }
      }
    }
  }

  .navbar__item--has-children {
    position: relative;

    &:hover {
      & > .navbar__dropdown-label {
        color: var(--primary-color);
        &::after {
          transform: rotate(180deg);
        }
      }
      & > .navbar__dropdown-label-sub {
        &::after {
          transform: rotate(-90deg);
        }
      }
      & > .navbar__sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        pointer-events: all;
      }
    }
  }

  .navbar__dropdown-label {
    position: relative;
    justify-content: space-between;
    &::after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f107";
      border: none;
      transition: transform 0.3s ease-in-out;
      font-size: inherit;
      transform: rotate(0deg);
    }
  }

  .navbar__sub-menu {
    position: absolute;
    top: 100%;
    inset-inline-start: 0px;
    min-width: 230px;
    max-width: 260px;
    background-color: #2d2d34;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    pointer-events: none;
    transition: var(--transition);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(230, 13%, 9%, 0.075),
      0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
      0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
      0 3.5px 6px hsla(230, 13%, 9%, 0.09);
    padding: 20px 0px;
    border-radius: 5px;
    z-index: 9;
    li {
      &:nth-last-of-type(1) {
        > a {
          border-bottom: 0px;
        }
      }
    }

    a {
      width: 100%;
      display: flex;
      padding: 16px 32px;
      color: var(--white);
      position: relative;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
      text-transform: capitalize;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-start: 20px;
        height: 1px;
        margin-top: 0px;
        width: 0px;
        transition: var(--transition);
        background-color: var(--primary-color);
      }
      &:hover {
        color: var(--primary-color);
        padding-inline-start: 40px;
        &::before {
          opacity: 1;
          transform: translateY(-50%) scaleX(1);
          width: 10px;
        }
      }
    }

    .active > a {
      padding-inline-start: 40px;
      &::before {
        opacity: 1;
        transform: translateY(-50%) scaleX(1);
        width: 10px;
      }
    }

    .navbar__item--has-children {
      &:hover {
        & > .navbar__dropdown-label-sub {
          color: var(--primary-color);
        }
      }
    }
  }

  .navbar__sub-menu__nested {
    top: 0%;
    inset-inline-start: 100%;
    min-width: 230px;
    &::before {
      content: "";
      position: absolute;
      transition: var(--transition);
      z-index: -1;
      inset-inline-start: -20px;
      border: 10px solid transparent;
      top: 12px;
      border-inline-end-color: var(--primary-color);
    }
  }

  .active > .navbar__dropdown-label,
  .active > a {
    color: var(--primary-color);
  }

  .contact-btn {
    display: flex;
    align-items: center;
    gap: 15px;

    i {
      font-size: 40px;
      color: var(--secondary-color);
      margin-bottom: -3px;
    }

    p {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1;
      font-weight: 700;
      color: #828a8d;
      margin-bottom: 8px;
    }

    a {
      color: #555555;
      line-height: 1;
      font-weight: 700;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .navbar__options {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .navbar__mobile-options {
    display: flex;
    gap: 12px;
    column-gap: 24px;
    align-items: center;
  }

  .navbar__mobile-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }

  .divider {
    width: 1px;
    height: 40px;
    background-color: #ffffff54;
  }

  .search-box,
  .language-box {
    position: relative;
    button {
      font-size: 20px;
      color: var(--white);
      @include box(45px);
      border: 1px solid #505d6a;
      background-color: var(--quaternary-color);
      &:hover {
        color: var(--octonary-color);
        border-color: var(--primary-color);
        background-color: var(--primary-color);
      }
    }

    .language-select {
      i {
        font-size: 24px;
        margin-top: -2px;
      }
    }

    .active {
      color: var(--octonary-color);
      border-color: var(--primary-color);
      background-color: var(--primary-color);
    }
    ul {
      position: absolute;
      top: 100%;
      left: 0px;
      width: 60px;
      min-width: 60px;
      background-color: #2d2d34;
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
      border-radius: 5px;
      overflow: hidden;
      transform: scale(0) translateY(-100%);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform-origin: 50% 0;
      transform: scale(0.75) translateY(-21px);
      transition: all 0.3s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
      z-index: 9;
    }

    li {
      font-size: 14px;
      font-weight: 700;
      transition: var(--transition);
      padding: 8px 18px;
      cursor: pointer;
      letter-spacing: 1px;
      &:hover {
        background-color: var(--primary-color);
        color: var(--octonary-color);
      }
    }

    .language-select-active {
      transform: scale(1) translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  .navbar__cta {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

    .btn--secondary {
      display: none;
    }
  }

  .nice-select {
    background-color: transparent;
    border: 0px solid transparent;
    padding-inline-start: 0px;
    &::after {
      width: 8px;
      height: 8px;
      margin-top: -6px;
    }

    .current,
    li {
      font-size: 16px;
      font-weight: 700;
      transition: var(--transition);
    }

    .list {
      background-color: #2d2d34;
      box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
        0 0 0 1px hsla(230, 13%, 9%, 0.075),
        0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
        0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
        0 3.5px 6px hsla(230, 13%, 9%, 0.09);
      &:hover {
        .option.selected.focus {
          color: var(--white);
        }
      }
    }

    .option {
      padding-inline: 18px;
      &:hover {
        background-color: var(--primary-color);
        color: var(--octonary-color);
      }
    }

    .option.selected.focus {
      background-color: var(--primary-color);
      color: var(--octonary-color);
      &:hover {
        color: var(--octonary-color) !important;
      }
    }
  }

  .open-offcanvas-nav {
    padding: 0px;
    display: inline-block;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;

    span {
      height: 2px;
      background-color: var(--white);
      transition: var(--transition);
    }

    .top-bar {
      width: 30px;
    }

    .middle-bar {
      width: 34px;
    }

    .bottom-bar {
      width: 16px;
    }

    &:hover {
      span {
        background-color: var(--primary-color);
      }
    }
  }

  .open-offcanvas-nav-active {
    .middle-bar {
      opacity: 0;
    }

    .top-bar,
    .bottom-bar {
      width: 30px !important;
    }

    .top-bar {
      transform: rotate(45deg) translateY(5px) translateX(9px);
      background-color: var(--primary-color);
    }

    .bottom-bar {
      transform: rotate(-45deg) translateY(-5px) translateX(9px);
      background-color: var(--primary-color);
    }
  }
}

.header-three {
  .container {
    max-width: 1440px;
  }
}

// sticky header
.sticky-header {
  position: fixed;
  z-index: 999;
  top: 0px;
  inset-inline-start: 0px;
  inset-inline-end: 0px;
  width: 100%;
  animation: stickyNavbar 0.5s linear;
  background: var(--template-bg);
  filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.1));

  @keyframes stickyNavbar {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .topbar {
    display: none;
  }
}

.header-alter {
  padding-block: 27px 26px !important;
  border-bottom: 1px solid #ffffff14;

  div {
    line-height: 0px;
  }

  .navbar-logo {
    img {
      max-width: 160px;
      height: 36px;
    }
  }
}

// mobile menu
.mobile-menu {
  position: fixed;
  inset: 0px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  max-width: 400px;
  transition: all 900ms ease;
  .mobile-menu__header {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    padding: 0px 40px;
    justify-content: space-between;
  }

  .logo {
    line-height: 0;
    img {
      max-width: 150px;
    }
  }

  .close-mobile-menu {
    font-size: 36px;
    color: var(--primary-color);
    position: relative;
    top: -40px;
    inset-inline-end: 0px;
  }

  .mobile-menu__wrapper {
    position: absolute;
    inset-inline-start: -400px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--template-bg);
    padding: 60px 0px;
    z-index: 9999;
    border-radius: 0px;
    overflow-y: auto;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    gap: 60px;

    transition: all 900ms ease;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  .navbar__list {
    flex-direction: column;
    border: 0px !important;
    & > li {
      & > a,
      button {
        border-bottom: 1px solid #ffffff1f;
      }

      &:nth-of-type(1) {
        border-top: 1px solid #ffffff1f;
      }
    }
  }

  .navbar__item {
    width: 100%;
    transition: var(--transition);

    a {
      color: var(--white);
      padding-block: 20px;
      padding-inline: 40px 80px;
      line-height: 1;
      font-size: 16px;
      text-transform: capitalize;
      width: 100%;
      position: relative;
      font-weight: 700;
      &:hover {
        color: var(--primary-color);
      }
      &::after {
        transition: none;
      }
    }
  }



  .navbar__item--has-children {
    .navbar__dropdown-label {
      &::after {
        content: "\2b";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        position: absolute;
        top: 0px;
        inset-inline-end: 0px;
        bottom: 0px;
        height: 100%;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transform: rotate(0deg);
        border-inline-start: 1px solid #ffffff1f;
      }
    }
    &:hover {
      .navbar__dropdown-label {
        &::after {
          transform: rotate(0deg);
        }
      }

      & > .navbar__dropdown-label-sub {
        color: var(--primary-color) !important;
      }
    }
  }

  .navbar__item-active {
    color: var(--primary-color) !important;
    font-weight: 600 !important;
    &::after {
      content: "\f068" !important;
      font-family: "Font Awesome 6 Free" !important;
      font-weight: 900;
    }
  }

  .navbar__sub-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    width: 100%;
    max-width: 100%;
    padding: 0px;
    display: none;
    transition: none;
    background-color: transparent;
    border-radius: 0px;

    &::before {
      content: none;
    }

    a,
    button {
      color: var(--white);
      padding: 20px 40px;
      font-size: 16px;
      border-bottom: 1px solid #ffffff1f;
      &::before {
        content: none;
      }
    }

    li {
      &:nth-last-of-type(1) {
        a,
        button {
          border-bottom: 1px solid #ffffff1f;
        }
      }
    }
  }

  .mobile-menu__options {
    padding: 0px 40px;
    a,
    button {
      width: 100%;
    }
  }

  .mobile-menu__cta {
    text-align: center;
    padding: 0px 40px;
    .btn--primary {
      width: 100%;
      justify-content: center;
    }
  }

  .mobile-menu__social {
    transition: var(--transition);
    padding: 0px 40px;
    justify-content: center;
    gap: 16px;
    a {
      font-size: 16px;
      @include box(44px);
      background-color: var(--primary-color);
      color: var(--octonary-color);
      &:hover {
        background-color: var(--secondary-color);
        color: var(--octonary-color);
      }
    }
  }

  .active > .navbar__dropdown-label,
  .active > a {
    color: var(--primary-color);
    font-weight: 600;
    &::after {
      font-weight: 900;
    }
  }
}

.mobile-menu__backdrop {
  position: fixed;
  inset-inline-end: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 999;
  background-color: var(--quaternary-color);
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),
    progress;
  visibility: hidden;
  transform: translateX(101%);
  transition: all 900ms ease;
  transition-delay: 300ms;
}

.mobile-menu__backdrop-active {
  width: 100%;
  visibility: visible;
  transition: all 900ms ease;
  transform: translateX(0%);
}

.show-menu {
  opacity: 1;
  visibility: visible;
  .mobile-menu__wrapper {
    inset-inline-start: 0px;
    transition-delay: 600ms;
  }


}


/* ==== 
 --------- (4.01) header styles end ---------
 ==== */
